<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoIME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoIME.Properties.Settings>
            <setting name="TextCommands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>LINE</string>
                        <string>TEXT</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CommandIMECulture" serializeAs="String">
                <value />
            </setting>
            <setting name="TextIMECulture" serializeAs="String">
                <value>zh-CN</value>
            </setting>
        </AutoIME.Properties.Settings>
    </userSettings>
</configuration>